#catalog-page {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    background-color: transparent;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    max-width: 1100px;
    width: 70%;
}

#catalog-page>h1 {
    color: black;
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.allPaintings {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 49%;
    min-height: 210px;
    height: auto;
}

.allPaintings-info {
    display: flex;
    padding: 10px;
    position: relative;
    width: 100%;
}

.allPaintings-info>p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.allPaintings-info>p>img {
    display: block;
    width: 100%;
    height: auto;
}

.allPaintings-info>.allPaintings-info-text {
    box-sizing: border-box;
    margin: 0px;
    padding: 10px 20px;
    display: block;
}

.allPaintings-info>.allPaintings-info-text>h6 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.allPaintings-info>.allPaintings-info-text>h2 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.details-button {
    background-color: #2A265F;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    right: 10%;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: auto;
    margin-left: auto;

    
}